/*  Global Settings */

:root {
    --primary-color: #ffffff;
    --link-color: #4D5AE5;
    --link-color_hover: #404BBF;
    --text-color: #434455;
}

/* Body Section */

.body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: roboto, sans-serif;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
}

/* Top Line Navigation Menu */

.logo {
    text-decoration: none;
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.3125em;
    list-style-type: none;
}

.logo::before {
    text-decoration: none;
    content: "WEB";
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.3125em;
    list-style-type: none;
    
}

.main-nav a {
    text-decoration: none;
    color: #2E2F42;
    cursor: pointer;
    list-style-type: none;
}

.main-nav a:hover,
.main-nav a:focus {
    color: var(--link-color_hover);
}

/*  Contact Section ( email, phone ) */

.contact-mail,
.contact-phone {
    color: #434455;
    line-height: 1.5em;
    text-decoration: none;
}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
    color: #4D5AE5;
}

/* Hero Tab Container */

.button-section .filter-button {
    color: var(--link-color);
    cursor: pointer;
}

.button-section .filter-button:hover,
.button-section .filter-button:focus {
    color: var(--link-color_hover);
}

/* Row Section */

.card-content h3 {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.5em;
}

.card-content p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5em;
}

/* Footer bar Section */

.footer-bar .references {
    color: black;
    /* color: #F4F4FD; */
    /* Am pus provizoriu black ca sa se vada pe fundalul alb.*/
}